<app-nav-component></app-nav-component>

<div class="text-center">
  <h2 class="mt-2">Who we are!</h2>
  <div class="row justify-content-center align-items-center mt-3">
    <p> We're a local business dedicated to the production of fast food, offering a variety of hamburgers, fries, and combos on sale every weekend!</p>
    <p>Where we are: B Street 12, Tandil, Buenos Aires</p>
    <p>When we are open: monday to friday from 20pm to 23.30 pm, saturdays from 19pm to 00am</p>
  </div>
</div>

<router-outlet />
