<div class="col-10">
<h3> {{ titleBList }}</h3>
<table class="table">
    <thead>
        <tr>
            <th>Reference</th>
            <th>Name</th>
            <th>Details</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Selected</th>
            <th>Buy</th>
        </tr>
    </thead>
    <tbody>
       @for(burger of burgers; track burger.name){
        <tr>
            <img class="img-thumbnail" [src]="burger.image" alt="{{ burger.name }}" width="200" height="200" />
            <td>{{ burger.name}}</td>
            <td> {{burger.details}}</td>
            <td>{{burger.price | currency}} USD</td>
            @if(burger.stock <=0){
                <td class="fw-bold text-danger">No stock</td>
            } @else {
                <td class="fw-bold text-success">Available</td>
            }
            <td>
                <app-quantity-input [(quantity)]="burger.quantity" [max]="burger.stock" (maxReached)="maxReached($event)"></app-quantity-input>
            </td>
            <td>
                <button class="btn btn-secondary" (click)="addToCart(burger)">Buy</button>
            </td>
        </tr>
       } @empty {
        <tr>
            <td colspan="4"> No hay hamburguesas</td>
        </tr>
       }
    </tbody>
</table>
</div>

<router-outlet></router-outlet>
