<div class="col-8">
<h3> {{ titleBList }}</h3>
<table class="table">
    <thead>
        <tr>
            <th>Reference</th>
            <th>Name</th>
            <th>Details</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
       @for(burger of burgers; track burger.name){
        <tr>
            <img [src]="burger.image" alt="{{ burger.name }}" width="60" height="60" />
            <td>{{ burger.name}}</td>
            <td> {{burger.details}}</td>
            <td>{{burger.price | currency}} USD</td>
            @if(burger.stock <=0){
                <td>No stock</td>
            } @else {
                <td>Available</td>
            }
        </tr>
       } @empty {
        <tr>
            <td colspan="4"> No hay hamburguesas</td>
        </tr>
       }
    </tbody>
</table>
</div>

<router-outlet></router-outlet>
